.mycourses {
  display: grid;
  text-align: center;
}
.container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;
}
.my-card {
  grid-column: span 12;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin: auto;
  border: 1px solid red;
  height: 400px;
}

.my-card--img {
  grid-column: span 12;
  margin: auto;
  width: 300px;
}
.my-card--info {
  margin: auto;
  grid-column: span 12;
}

.div-btn button {
  padding: 0.7rem;
  border-radius: 50%;
  background-color: var(--clr-primary-4);
}
.div-btn button:nth-child(2) {
  margin: 1rem;
}

@media screen and (min-width: 768px) {
  .container {
    width: 90%;
    margin: auto;
  }
  .my-card {
    grid-column: span 6;
  }
}
@media screen and (min-width: 1200px) {
  .my-card {
    grid-column: span 3;
  }
}

.pagination {
  padding-left: 5rem;
  list-style: none;
  display: flex;
  gap: 5px;
  margin-top: 2rem;
}
.pagination li {
  padding: 5px 8px;
  border: 1px solid rgba(0, 0, 0, 0.325);
  cursor: pointer;
  font-family: "Montserrat";
}
.active-li {
  background-color: black;
  color: white;
}
.pagination button {
  padding: 5px 8px;
  border: 1px solid rgba(0, 0, 0, 0.325);
  cursor: pointer;
  background: transparent;
}
