.mycourses {
  display: grid;
  text-align: center;
}
.container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;
}

.my-card--img {
  width: 100%;
}

.pagination {
  padding-left: 5rem;
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 2rem auto;
}
.pagination li {
  padding: 10px 12px;
  border: none;
  cursor: pointer;
  background-color: var(--clr-white);
  color: var(--clr-black);
  border-radius: 0.3rem;
}
.active-li {
  background-color: var(--clr-black);
  color: var(--clr-white);
}
.pagination button {
  padding: 5px 8px;
  border: none;
  cursor: pointer;
  background: transparent;
}
.icon {
  font-size: 2rem;
}
.property-card {
  grid-column: span 12;
  display: grid;
  margin: auto;
  grid-template-columns: repeat(12, 1fr);
  height: 18em;
  cursor: pointer;
  width: 14em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  border-radius: 16px;
  overflow: hidden;
  -webkit-box-shadow: 15px 15px 27px var(--clr-black),
    -15px -15px 27px var(--clr-black);
  box-shadow: 15px 15px 27px var(--clr-white), -15px -15px 27px var(--clr-black);
}

.property-image {
  height: 6em;
  grid-column: span 12;
  margin: auto;
  width: 14em;
  position: Absolute;
  top: 0px;
  -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  background-image: url("https://pbs.twimg.com/profile_images/1360943119710253061/dWvmVVtD_400x400.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.property-description {
  background-color: var(--clr-text-2);
  height: 12em;
  width: 14em;
  position: absolute;
  bottom: 0em;
  -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  padding: 0.5em 1em;
  text-align: center;
}

.property-card:hover .property-description {
  height: 0em;
  padding: 0px 1em;
}
.property-card:hover .property-image {
  height: 18em;
}

/* Media Query */
@media screen and (min-width: 768px) {
  .container {
    width: 90%;
    margin: auto;
  }
  .property-card {
    grid-column: span 6;
  }
}
@media screen and (min-width: 1200px) {
  .property-card {
    grid-column: span 3;
  }
}
