.allcourse {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  text-align: center;
}
.container {
  display: grid;
  grid-column: span 12;

  grid-template-columns: repeat(12, 1fr);

  height: 500px;
}
.allcourse-info {
  grid-column: span 10;
  margin: auto;
  width: 300px;
}
.icon {
  grid-column: span 1;
  color: var(--clr-primary-5);
  margin: auto;
  font-size: 2rem;
  cursor: pointer;
}
.info-img {
  width: 300px;
  max-height: 300px;
}
