footer {
  display: flex;
  justify-content: center;
  height: 16vh;
  margin-top: 8rem;
}
.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin: auto;
  gap: 1rem;
}
.footer-contact {
  grid-column: span 6;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin: auto;
}
.footer-contact p {
  cursor: pointer;
  grid-column: span 12;
}
.footer-contact p:hover {
  opacity: 0.8;
}
.footer-icon {
  grid-column: span 6;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(12, 1fr);
  margin: auto;

  width: 10px;
}
.icon {
  cursor: pointer;
  font-size: 2rem;
  grid-column: span 12;
  margin-bottom: 1rem;
}
.icon:nth-child(1) {
  color: var(--clr-facebook);
}
.icon:nth-child(2) {
  color: var(--clr-twitter);
}
.icon:nth-child(3) {
  color: var(--clr-youtube);
}
.icon:nth-child(4) {
  color: var(--clr-pinterest);
}

/* Media Query */
@media screen and (min-width: 768px) {
  footer {
    margin-top: 3rem;
  }
  .container {
    width: 90%;
  }
  .footer-contact {
    grid-column: span 12;
    display: flex;
    gap: 2rem;
  }
  .footer-icon {
    grid-column: span 12;
    display: flex;
    width: auto;
    gap: 5rem;
  }
}
